html, body {
    font-family: Montserrat,sans-serif;
    width: 100%;
}

nav#nav  {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
}

nav .nav-title {
    max-width: calc(100vw - 120px);
}

main {
    width: 100%; 
    max-width: 960px;
    margin: 0 auto;
    padding-left: 98px;
}

.person, .home {  
    align-items: begin;
}

.person .avatar, .home .avatar {
    min-width: 320px;
    margin-top: 32px;
    flex-grow: 1; 
}

.person .description {
    flex-grow: 2;
} 
 
.address {
    margin-top: 24px;
}

.person .name, .person .mail, .person .phone, .person .room {
    text-align: center;
    margin-bottom: 8px;
}

.person .name {
    margin-bottom: 16px;
}

.avatar img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto 16px auto;
}

hr {
    width: 60%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
}

.members ul, .pastmembers ul, .events ul, .visitors ul, .teaching ul, .lecture ul, .research ul {
    margin-left: 18px; 
    margin-bottom: 36px;
}

.members li, .pastmembers li, .events li, .visitors li, .teaching li, .lecture li {
    margin-bottom: 12px;  
}

li.event, .pastmembers li.student {
    margin-bottom: 24px;
}

.members .header, .visitors .header, .teaching .header {
    margin-bottom: 16px;
}

.lecture .header {
    margin-bottom: 8px;
}

.student a, .person a {
    color: #c53030;
}

.student a:hover, .person a:hover {
    color: black;
}

a.active {
    font-weight: 700;
}

.teaching div.term, ul.red-border, li.red-border {
    padding-left: 12px;
    border-left: 1px solid #c53030;
}

.lecture-item a:hover {
    color: #c53030;
}

.lecture-item a {
    color: black;
    text-decoration: underline;
}

.lecture ul {
    list-style-type: disc !important;
    list-style-position: outside !important;
}

.lecture li a {
    color: #c53030;
}
.lecture li a:hover {
    color: black;
}

li.area {
    margin-bottom: 18px;
    margin-left: 18px;
}

.secretary {
    margin-top: 24px;
    margin-bottom:24px;
}

.address p.text-sm, .secretary p.text-sm {
    margin-left: 18px;
}

.research li {
    margin-bottom: 12px;
}

.research .text-2xl {
    margin-top: 16px;
    margin-bottom: 8px;
}

.research .header-input .header {
    margin-right: 48px;
}

.research .header-input {
    display: flex;
}

.research a {
    color: #c53030;
}
