html, body {
    font-family: Montserrat,sans-serif;
    padding: 0;
    margin: 0;
}

/*******************************
* Navbar setup
*******************************/
nav#nav  {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-height: 5rem;
    width: 100vw;
    max-width: 100%;
}

nav .nav-title {
    max-width: calc(100vw - 120px);
}

/*******************************
* Main setup
*******************************/
main {
    max-width: 970px;
}

/*******************************
* Footer setup
*******************************/
#container {
    position: relative;
}

#content-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    min-height: calc(100vh - 5rem);
}

#footer {
    position:absolute;
    bottom: 0;
    height: 4rem;
    box-shadow: 0px -0.2px 6px 0px rgba(0,0,0,0.75);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.3rem;
    margin: 0;
    width: 100vw;
    max-width: 100%; 
}

@media only screen and (max-width: 480px) {
    #footer {
	flex-direction: column;
	justify-content: center;
	height: 5rem;
    }

    #footer div:first-child {
	margin-bottom: 8px;
    }
}

/*******************************
* Home page setup
*******************************/
.home .address {
    margin-top: 32px;
}

.home .research-entries div.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
}

.home .research-entries div.crop p, .home .research-entries div.crop ol {
    display: none;
}

.home .research-entries div.crop p:first-child {
    display: initial;
}
 
.home .research-entries li a {
    cursor: pointer; 
    color: #c53030;
}

.home .description p {
    margin-bottom: 1em; 
}

.home div.description ol {
    list-style-type: lower-alpha;
    margin-left: 2em;
    margin-top: -1em;
}

.home div.description ol li {
    padding-left: 6px;
}


/*******************************
* Person page setup
*******************************/    
.person .description {
    margin-top: 2rem;
    flex-grow: 2;
}

.person .name, .person .mail, .person .phone, .person .room {
    text-align: center;
    margin-bottom: 8px;
}

.person .name {
    margin-bottom: 16px;
}

/*******************************
* Research page setup
*******************************/
.research ul.sample-publications {
    text-indent: calc(11px - 2em);
    margin-left: 2em;
}

.research div.description p {
    margin-top: 1em;
}

.research div.description ol {
    list-style-type: lower-alpha;
    margin-left: 2em;
    margin-bottom: -1em;
}

.research div.description ol li {
    padding-left: 6px;
}

/*******************************
* Publications page setup
*******************************/
.publications .bibtexentry {
    margin-bottom: 1em;
}

.publications li {
    margin-bottom: 12px;
}

.publications .text-2xl {
    margin-top: 16px;
    margin-bottom: 8px;
}

.publications .header-input .header {
    margin-right: 48px;
}

.publications .header-input {
    display: flex;
} 

.publications a {
    color: #c53030;
}


.members .header, .visitors .header, .teaching .header {
    margin-bottom: 16px;
}

.lecture .header {
    margin-bottom: 8px;
}

.student a, .person a {
    color: #c53030;
}

.student a:hover, .person a:hover {
    color: black;
}

a.active {
    font-weight: 700;
}

.teaching div.term, ul.red-border, li.red-border, p.red-border {
    padding-left: 12px;
    border-left: 1px solid #c53030;
}

.lecture-item a:hover {
    color: #c53030;
}

.lecture-item a {
    color: black;
    text-decoration: underline;
}

.lecture ul {
    list-style-type: disc !important;
    list-style-position: outside !important;
}

.lecture li a {
    color: #c53030;
}
.lecture li a:hover {
    color: black;
}

.secretary {
    margin-top: 24px;
    margin-bottom:24px;
}

.lecture-links {
    margin-left: 22px;
    display: block; 
}


/*******************************
* MISC
*******************************/
.avatar {
    min-width: 320px;
    margin-top: 32px;
    flex-grow: 1; 
}

.avatar img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto 16px auto;
}

hr {
    width: 60%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 12px;
}

.members li,
.pastmembers li,
.events li,
.visitors li,
.teaching li,
.lecture li {
    margin-bottom: 12px;  
}
