{{- define "main" -}}
<div class="teaching text-sm">
  {{ $currentTerm := index .Params.term 0 }}
  {{ $pastTerms := after 1 .Params.term }}
  
  <div class="header text-3xl">
    {{ .Title }} ({{ $currentTerm.title }})
  </div>
  <ul class="current-term">
    {{ range $currentTerm.lecture }}
    <li class="lecture-item">
      <div class="lecture-title">
	<b>{{ .title | markdownify }}</b>
      </div>
      <div class="lecture-links">
	{{ if isset . "moodle" }}
	<a href="{{ .moodle }}">Moodle</a>
	{{ end }} 
	{{ if (and (isset . "moodle") (isset . "lsf")) }}
	&nbsp;|&nbsp;
	{{ end }}
	{{ if isset . "lsf" }}
	<a href="{{ .lsf }}">LSF</a> 
	{{ end }}
	{{ if and (isset . "page") (isset . "lsf") }}
	&nbsp;|&nbsp;
	{{ end }}
	{{ if isset . "page" }}
        
	<a href="{{ .page | lower }}">Course page</a>  
	{{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
  <button class="collapsible text-xl">Past Terms</button>
  <div class="past-terms">
    {{ range after 1 .Params.term }}
    <div class="term">
      <div class="font-semibold text-lg mb-1">{{ .title }}</div>
      <ul class="">
        {{ range .lecture }}
        <li class="lecture-item">
          <div class="lecture-title">
	    <b>{{ .title | markdownify }}</b>
          </div>
          <div class="lecture-links">
	    {{ if isset . "moodle" }}
	    <a href="{{ .moodle }}">Moodle</a>
	    {{ end }} 
	    {{ if (and (isset . "moodle") (isset . "lsf")) }}
	    &nbsp;|&nbsp;
	    {{ end }}
	    {{ if isset . "lsf" }}
	    <a href="{{ .lsf }}">LSF</a> 
	    {{ end }}
	    {{ if and (isset . "page") (isset . "lsf") }}
	    &nbsp;|&nbsp;
	    {{ end }}
	    {{ if isset . "page" }}
	    <a href="{{ .page | lower }}">Course page</a>  
	    {{ end }}
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

