{{- define "main" -}}
<div class="teaching">
  <div class="header text-3xl">{{ .Title }}</div>
  {{ range first 1 .Params.term }}
  <div class="text-xl">Current Term ({{ .title }})</div>
  <hr />
  <ul class="list-disc list-outside">
    {{ range .lecture }}
    <li class="lecture-item">
      <span class="lecture-title">
	<b>{{ .title | markdownify }}</b>
      </span>
      <span class="lecture-links">
	{{ if isset . "moodle" }}
	<a href="{{ .moodle }}">Moodle</a>
	{{ end }}
	{{ if (and (isset . "moodle") (isset . "lsf")) }}
	|
	{{ end }}
	{{ if isset . "lsf" }}
	<a href="{{ .lsf }}">LSF</a> 
	{{ end }}
	{{ if (and (isset . "lsf") (isset . "notes")) }}
	|
	{{ end }}
	{{ if isset . "notes" }}
	<a href="{{ .notes }}">{{ .notes_name }}</a> 
	{{ end }}
	{{ if (and (isset . "notes") (isset . "page")) }}
	|
	{{ end }}
	{{ if isset . "page" }}
	<a href="{{ .page | lower }}">Additional Information</a>  
	{{ end }}
      </span>
    </li>
    {{ end }}
  </ul>
  {{ end }}
  <div class="text-xl">Past Terms</div>
  <hr />
  {{ range after 1 .Params.term }}
  <div class="term">
    <div class="text-l font-semibold">{{ .title }}</div>
    <ul class="">
      {{ range .lecture }} {{ if isset . "page" }}
      <li class="lecture-item">
        <a href="{{ .page | lower }}">
          {{ .title | markdownify }}
        </a>
      </li>
      {{ else }}
      <li class="lecture-item">
        {{ .title | markdownify }}
      </li>
      {{ end }} {{ end }}
    </ul>
  </div>
  {{ end }}
</div>
{{ end }}
