{{- define "main" -}}
<div class="person flex flex-col md:flex-row text-sm">
  <div class="avatar">
    {{ if .Params.avatar }}
    <img src="{{ .Params.avatar | absURL }}" />
    {{ end }}
    <div class="name text-lg">
      {{ .Params.first_name | upper | markdownify }}
      <span class="font-bold">{{ .Params.last_name | upper | markdownify }}</span>
    </div>
    <div class="mail">{{ .Params.Email | markdownify }}</div>
    <div class="phone">{{ .Params.Phone | markdownify }}</div>
    <div class="room">Room: {{ .Params.Room | markdownify }}</div>
    {{ if .Params.cv }}
    <a class="block text-center" href="{{ .Params.cv | absURL }}">Curriculum Vitae</a>
    {{ end }}
  </div>
  <div class="description md:ml-6 sm:m-6">
    <emph class="font-semibold">Research interests</emph>
    <hr />
    <!-- TODO: MAKE LISTS WORK (probably CSS issue)-->
    <p class="text-sm">{{ .Params.research_interest | markdownify }}</p>
    {{ $researchURL := relURL (printf "%s%s" "publications?author=" .Params.pub_name ) }}
    <p class="text-sm mt-4">
      See <a href="{{ $researchURL }}">publications</a>{{ if .Params.google_scholar }}
       (or my page on 
      <a href="{{ .Params.google_scholar }}">Google Scholar</a>).
      {{ else }}.
      {{ end }} 
    </p>
  </div>
</div>

{{ end }}
 
 
