{{- define "main" -}}
<h3 class="text-xl">
  Welcome to the Homepage of the research group
  <b>Numerical Analysis and Uncertainty Quantification</b> at University of
  Heidelberg
</h3>
<div class="home flex flex-col md:flex-row">
  <div class="avatar">
    <img src="{{ .Params.avatar | absURL }}" />
    <div class="address">
      <h1 class="font-semibold mb-1">Postal address</h1>
      <p class="text-sm red-border ml-1">{{ .Params.address | markdownify }}</p>
    </div>
    <div class="secretary">
      <h1 class="font-semibold mb-1">Secretary</h1>
      <p class="text-sm red-border ml-1">
        {{ .Params.secretary | markdownify }}
      </p>
    </div>
  </div>
  <div class="description md:ml-6 md:mt-8 sm:ml-0 sm:mt-4">
    <emph class="font-semibold">Research interests</emph>
    <ul class="research mt-1 ml-1">
      {{ range .Params.research_area }}
      <li class="area red-border mb-3">
        <emph class="font-semibold text-sm">{{ .name | markdownify }}</emph
        ><br />
        <p class="font-thin text-sm">{{ .description | markdownify }}</p>
      </li>
      {{ end }}
    </ul>
  </div>
</div>

{{ end }}
