{{- define "main" -}}
<div class="publications">
  <div class="header-input">
    <div class="header text-3xl">{{ .Title }}</div>
    <input id="authorinput" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Filter authors">
  </div>
  {{ $publications := $.Site.Data.publications }}
  {{ $preprints := (index $publications "preprints").preprint }}
  {{ $books := (index $publications "books").book }}
  {{ $journals := (index $publications "journals").journal }}
  {{ $proceedings := (index $publications "proceedings").proceedings }}
  {{ $theses := (index $publications "theses").thesis }}
  {{ $other := (index $publications "other").other }}
  <div class="preprints">
    <div class="text-2xl">Preprints</div>
    <div class="text-sm warning">No entries match your search</div>
    <ul class="red-border list-outside ml-1">
      {{ range $preprints }}
      <li data-type="preprint" data-authors="{{ .authors }}"><i>{{ .authors }}</i>, <b>{{ .title | markdownify }}</b>, submitted {{ .date }}
	{{ if .link_name }}
	[<a href="{{ .link_url }}">{{ .link_name }}</a>]
	{{ else }}
	[<a href="{{ .link_url }}">Preprint</a>]
	{{ end }}
	.
      </li>
      {{ end }} 
    </ul>
  </div>

  <div class="journals">
    <div class="text-2xl">Journals</div>
    <div class="text-sm warning">No entries match your search</div>
    <ul class="red-border list-outside ml-1"> 
      {{ range $journals }} 
      <li data-type="journal" data-authors="{{ .authors }}"><i>{{ .authors }}</i> ({{ .date }}), <b>{{ .title | markdownify }}</b>, {{ .journal | markdownify }}
	{{ if .link_name }}
	[<a href="{{ .link_url }}">{{ .link_name }}</a>]
	{{ else }}
	[<a href="{{ .link_url }}">Preprint</a>]
	{{ end }}.
      </li>
      {{ end }} 
    </ul>
  </div>

  <div class="books">
    <div class="text-2xl">Books</div>
    <div class="text-sm warning">No entries match your search</div>
    <ul class="red-border list-outside ml-1"> 
      {{ range $books }} 
      <li data-type="book" data-authors="{{ .authors }}"><i>{{ .authors }}</i> ({{ .date }}), <b>{{ .title | markdownify }}</b>, {{ .pub_info | markdownify }}
	{{ if .link_name }}
	[<a href="{{ .link_url }}">{{ .link_name }}</a>]
	{{ else }}
	[<a href="{{ .link_url }}">Preprint</a>]
	{{ end }}.
      </li>
      {{ end }} 
    </ul>
  </div>

  <div class="proceedings">
    <div class="text-2xl">Proceedings</div>
    <div class="text-sm warning">No entries match your search</div>
    <ul class="red-border list-outside ml-1"> 
      {{ range $proceedings }} 
      <li data-type="proceedings" data-authors="{{ .authors }}"><i>{{ .authors }}</i> ({{ .date }}), <b>{{ .title | markdownify }}</b>, {{ .proc_info | markdownify }}
	{{ if .link_name }}
	[<a href="{{ .link_url }}">{{ .link_name }}</a>]
	{{ else }}
	[<a href="{{ .link_url }}">Preprint</a>]
	{{ end }}.
      </li>
      {{ end }} 
    </ul>
  </div>

  <div class="theses">
    <div class="text-2xl">Theses</div>
    <div class="text-sm warning">No entries match your search</div>
    <ul class="red-border list-outside ml-1"> 
      {{ range $theses }} 
      <li data-type="thesis" data-authors="{{ .authors }}"><i>{{ .authors }}</i> ({{ .date }}), <b>{{ .title | markdownify }}</b>, {{ .thesis_info | markdownify }}
	{{ if .link_name }}
	[<a href="{{ .link_url }}">{{ .link_name }}</a>]
	{{ else }}
	[<a href="{{ .link_url }}">Preprint</a>]
	{{ end }}.
      </li>
      {{ end }} 
    </ul>
  </div>

  <div class="other">
    <div class="text-2xl">Extended Abstracts and Other Publications</div>
    <div class="text-sm warning">No entries match your search</div>
    <ul class="red-border list-outside ml-1"> 
      {{ range $other }} 
      <li data-type="other" data-authors="{{ .authors }}"><i>{{ .authors }}</i> ({{ .date }}), <b>{{ .title | markdownify }}</b>, {{ .other_info | markdownify }}
	{{ if .link_name }}
	[<a href="{{ .link_url }}">{{ .link_name }}</a>]
	{{ else }}
	[<a href="{{ .link_url }}">Preprint</a>]
	{{ end }}.
      </li>
      {{ end }} 
    </ul>
  </div>
</div>

<script>
 const onPubPage = true;
</script>

{{ end }}
 
