{{- define "main" -}}
<div class="overlay">
  <div class="overlay__inner">
    <div class="overlay__content"><span class="spinner"></span></div>
  </div>
</div>
<div class="publications">
  <div class="header-input">
    <div class="header text-3xl">{{ .Title }}</div>
    <input id="authorinput" class="bibtex_search shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Filter publications" list="suggests">
  </div>
  <datalist id="suggests">
    <option value="@author=">
    <option value="@title=">
    <option value="@year=">
    <option value="@journal=">
  </datalist>
  
  <div class="bibtex_structure">
    <div class="sections bibtextypekey">
      <div class="section preprint">
        <h1 class="text-2xl">Preprints</h1>
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
      <hr class="my-8">
      <div class="section article">
        <h1 class="text-2xl">Journals</h1>
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
      <hr class="my-8">
      <div class="section book">
        <h1 class="text-2xl">Books</h1>
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
      <hr class="my-8">
      <div class="section MastersThesis|PhdThesis">
        <h1 class="text-2xl">Theses</h1> 
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
      <hr class="my-8">
      <div class="section inproceedings">
        <h1 class="text-2xl">Proceedings</h1> 
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
      <hr class="my-8">
      <div class="section misc">
        <h1 class="text-2xl">Extended Abstracts and Other Publications</h1> 
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
    </div> 
  </div> 

  <div id="bibtex_errors"></div>
  <div class="bibtex_display" callback="finishedBibtexProcessing(bibtex_display)">
    
  </div>  
</div>

<script>
  const onPubPage = true;
</script>

{{ end }}

